@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

header,
#hot-deal {
    background-color: rgba(229, 84, 115, 0.1);
    margin-bottom: 40px;
}

.container {
    display: flex;
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.container .banner-text h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: left;
}

.container .banner-text p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.section-heading h2 {
    color: #272727;
    margin-bottom: 16px;
    text-align: center;

}

button {
    border-radius: 8px;
    background: rgb(229, 84, 115);
    padding: 20px 43px;
    color: aliceblue;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background: rgb(4, 239, 236);
}

.section-heading {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;



}

.flower-img {
    background-color: antiquewhite;
    padding: 30px 25px 0;
    height: 500px;
    display: flex;
    align-items: end;
    border-radius: 300px 300px 0px 0px;

}

.section-content .flower .flower-img.pink {
    background-color: rgba(167, 33, 98, 0.15);
}

.section-content .flower .flower-img.blue {
    background-color: rgba(5, 151, 160, 0.15);
}

.section-content .flower .flower-img.green {
    background-color: rgba(71, 125, 17, 0.15)
}

.section-content .flower p {
    text-align: center;
}

.delivery {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.delivery {
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-around;
    background-color: rgb(243, 236, 228);

    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;

}

#hot-deal .hot-deal-text h2 {
    max-width: 445px;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #272727;

}

#hot-deal .hot-deal-img {
    max-width: 318px;
}

.hot-deal-main {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;

}

#hot-deal.hot-deal-text {
    width: 75%;
    max-width: 550px;


}

.hot-deal-text {
    text-align: center;
    padding: 80px 0;;
}


.important {
    color: #E55473;
}

p {
    color: rgba(39, 39, 39, 0.6);
}